# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120
continuation_indent_size = 8

# XML files (including Maven POM files)
[*.xml]
indent_style = space
indent_size = 2
max_line_length = 120

# Properties files
[*.properties]
indent_style = space
indent_size = 4
max_line_length = 120

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2
max_line_length = 120

# JSON files
[*.json]
indent_style = space
indent_size = 2
max_line_length = 120

# Markdown files
[*.md]
indent_style = space
indent_size = 2
max_line_length = 120
trim_trailing_whitespace = false

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
max_line_length = 120

# Dockerfile
[Dockerfile*]
indent_style = space
indent_size = 2
max_line_length = 120

# SQL files
[*.sql]
indent_style = space
indent_size = 2
max_line_length = 120

# Configuration files
[*.{conf,config,ini}]
indent_style = space
indent_size = 2
max_line_length = 120

# Web files
[*.{html,css,js,ts}]
indent_style = space
indent_size = 2
max_line_length = 120

# Gradle files
[*.gradle]
indent_style = space
indent_size = 4
max_line_length = 120

# Maven wrapper files
[mvnw*]
end_of_line = lf

# Git files
[.gitignore]
indent_style = space
indent_size = 2

# IDE specific files
[*.{iml,idea}]
indent_style = space
indent_size = 2